*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;

  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 2em 5em;
}
h1 {
  font-size: 3rem;
}
#contentSearch {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 70em;
}
input {
  width: 25em;
  padding: 0.7em;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Montserrat", sans-serif;
}
button {
  background-color: #2563eb;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0 1.5em;
  text-decoration: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #f9f9f9;
  /* border-radius: 50px; */
}
thead {
  background-color: #2563eb;
  color: white;
}
th,
td {
  font-size: 1.8rem;
  border: 1px solid #ccc;
  padding: 12px 15px;
  text-align: left;
}
th:first-child,
td:first-child {
  min-width: 20px;
  text-align: center;
  padding: 0.5em;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
  cursor: pointer;
}
